
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Shouye</title>
    @*<link href="~/Content/sizetexiao/style.css" rel="stylesheet" />*@
    <link href="~/Content/tx/css/style2.0.css" rel="stylesheet" />    
</head>
<body>
       
    <div id="contPar" class="contPar">
        <div id="page1" style="z-index:1;">
            <div class="title0">欢&nbsp;&nbsp;迎&nbsp;&nbsp;使&nbsp;&nbsp;用</div>
            <div class="title1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——帝友系统后台管理</div>
            <div class="imgGroug">
                <ul>
                    
                    <img alt="" class="img0 png" src="~/Content/tx/img/page1_0.png" />
                    <img  alt="" class="img1 png"src="~/Content/tx/img/page1_1.png" />
                    <img alt="" class="img2 png" src="~/Content/tx/img/page1_2.png" />
                    
                </ul>
            </div>
   
            <img alt="" class="img3 png" src="~/Content/tx/img/page1_3.jpg" />
        </div>
    </div>
    @*<div>
        <img src="~/Content/images/login-foot.jpg" />
    </div>
    <div class="container">
        <h3 id="effect">
            <span>欢</span>
            <span>迎</span>
            <span>使</span>
            <span>用</span>
           
            <span>帝</span>
            <span>友</span>
            <span>后</span>
            <span>台</span>
            <span>管</span>
            <span>理</span>
            <span>系</span>
            <span>统</span>
        </h3>
    </div>*@

    <script src="~/Content/tx/js/jquery-1.8.0.min.js"></script>
    <script src="~/Content/tx/js/com.js"></script>

    @*<script src="~/Content/sizetexiao/js/jquery.min.js"></script>
    <script src="~/Content/sizetexiao/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/sizetexiao/js/text_plugin.js"></script>
    <script src="~/Content/sizetexiao/js/texteffect.js"></script>*@
</body>
</html>
