
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>帝友P2P借贷系统</title>
    <link href="/Content/ShouYe/iconfont.css" rel="stylesheet" />
    <link href="/Content/ShouYe/public.css" rel="stylesheet" />
    <link href="/Content/ShouYe/style.css" rel="stylesheet" />
    <link href="/Content/ShouYe/index.css" rel="stylesheet" />
    <link href="/Content/ShouYe/user.css" rel="stylesheet" />
    <link href="/Content/ShouYe/mall.css" rel="stylesheet" />

    <link href="~/Content/my1/global_site_base.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/my1/order_list.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/my1/leftmenu.css" rel="stylesheet" />

    <link href="~/content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="header">
        <div class="header_top">
            <div class="conbox fn_cle">
                <div class="contact fn_left">
                    <i class="telico"></i>
                    <span class="tel">服务热线：<em>400-836-3969 </em></span>                				<a href="http://www.diyou.cc/app/index.html" target="_blank">手机端下载</a>
                </div>

                <div class="top_rig fn_rig" id="yuanlaiID">
                    <a href="/Main/ZhuCe" class="bor_none reg" id="zhuceID">免费注册</a>
                    <a href="/Main/Login" class="login" id="Login">立即登录</a>
                    <a href="" class="helpico">帮助中心</a>
                    <a href="/Main/CounterIndex">利息计算器</a>
                </div>

                <div class="top_rig fn_rig" id="userviweID">
                    <label id="userid" style="font-size:14px;">欢迎你：</label><label id="UserName" style="color:#e4b022;font-size:15px;font-weight:700;">@ViewBag.User</label><span>&nbsp;</span>
                    <a href="" class="helpico">帮助中心</a>
                    <a href="/Main/CounterIndex">利息计算器</a>
                </div>
            </div>
        </div>
        <div class="header_cont conbox fn_cle">
            <h1 class="fn_left">
                <a href="">
                    <img src="~/Content/ShouYe/0_admin_upload_1425018268932.png" alt="帝友P2P借贷系统V4.0演示站" />
                </a>
            </h1>
            <div class="navbar fn_left">

                <ul>
                    <li class="ui_nav_item ">
                        <a href="/Main/Index">首页</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="/Loan/Loan/BorrowIndex">我要借款</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="/Invest/Invest/InvestIndex">我要投资</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="/Personal/Personal/BaseIndex">我的账户</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="/Main/AboutOurIndex">关于我们</a>
                        <ul class="nav_dropdown">
                            <li class="arrow"><span></span></li>
                            <li><a href="/Main/CertificateIndex">证照资质</a></li>
                        </ul>

                    </li>
                    <li class="ui_nav_item ">
                        <a href="">新手帮助</a>
                        <ul class="nav_dropdown">
                            <li class="arrow"><span></span></li>
                            <li><a href="">网站公告</a></li>
                            <li><a href="">安全保障</a></li>
                            <li><a href="">工作原理</a></li>
                            <li><a href="">法律政策</a></li>
                            <li><a href="">资费说明</a></li>
                        </ul>

                    </li>

                </ul>
            </div>
            <div class="follow fn_rig">
                <a href="" target="_blank"><div class="follow_list follow_sina "></div></a>
                <div class="follow_list follow_wx">
                    <div class="wx_ewm">
                        <span class="arrow"></span>
                        <div class="arrow_img">
                            <img src="~/Content/ShouYe/0_admin_upload_1420791797782.jpg" height="73" width="73" />
                        </div>
                    </div>

                </div>
                <div class="follow_list follow_qq">
                    <div class="qq_info">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="layout_main" class="mpc_cont">
        <div class="wrap clearfix">
            <!-- sideNav -->
            <div class="mpc_cont_sideNav">
                <dl style="margin-bottom:-15px;">
                    <dt>
                        <i class="my_iconfont sidenav_icon"></i>
                        <span style="margin-left:-10px;font-size:20px;">我的交易</span>
                    </dt>
                    <dd style="margin-top:10px;">
                        <a href="/Personal/Personal/MyAccountIndex1">我的投标</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/LoanManageIndex">我的借款</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/GatheringIndex">我的收款</a>
                    </dd>
                </dl>
                <dl style="margin-bottom:-10px;">
                    <dt>
                        <i class="my_iconfont sidenav_icon"></i>
                        <span style="margin-left:-10px;font-size:20px;">基础资料</span>
                    </dt>
                    <dd style="margin-top:10px;">
                        <a href="/Personal/Personal/BaseIndex" class="llw">个人资料</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/PersonalIndex">填写资料</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/RegisterMember">注册会员</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/MemberDataIndex">会员资料</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/AttestationIndex">我的认证</a>
                    </dd>
                </dl>
                <dl style="margin-bottom:-10px;">
                    <dt>
                        <i class="my_iconfont sidenav_icon"></i>
                        <span style="margin-left:-10px;font-size:20px;">我的资产</span>
                    </dt>
                    <dd style="margin-top:10px;">
                        <a href="/Personal/Personal/AccountCentre">我的账户</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/LimitIndex">额度申请</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/CreditCardIndex">添加银行卡</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/CreditCardMessage">银行卡信息</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/RechargeIndex">充值和提现</a>
                    </dd>
                </dl>
                <dl style="margin-bottom:-10px;">
                    <dt>
                        <i class="my_iconfont sidenav_icon"></i>
                        <span style="margin-left:-10px;font-size:20px;">我的服务</span>
                    </dt>
                    <dd style="margin-top:10px;">
                        <a href="/Personal/Personal/FollowIndex">我的关注</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/SpreadIndex">我的推广</a>
                    </dd>
                </dl>
            </div>


            <div id="layout_main" class="mpc_cont_main layout_w1200">
                <!--宽屏class名为layout_w1200，窄屏请修改class为layout_w980_g18-->
                <!-- 左侧菜单导航 -->
                <!-- <div id="grid_4" class="grid_4"></div>-->
                <!-- 右侧主体内容-S -->
                <div class="row" style="margin-top:20px; width:1000px;margin-left:5px;">
                    <ul class="nav nav-tabs" style="border:1px solid #808080;">
                        <li class="active"><a href="#FollowLoan" data-toggle="tab">我关注的借款</a></li>
                        <li><a href="#FollowUser" data-toggle="tab">我关注的用户</a></li>
                    </ul>
                    <div class="tab-content" style="border:1px solid #808080;">
                        <div class="tab-pane active" id="FollowLoan">
                            <table id="tabFollowLoan" style="margin-left:10px;margin-top:50px;">
                                <thead>
                                    <tr>
                                        <th w_index="FollowID" w_hidden="true" width="10%">关注ID</th>
                                        <th w_index="LoanID" w_hidden="true" width="10%">借款ID</th>
                                        <th w_index="UserID" w_hidden="true" width="10%">用户ID</th>
                                        <th w_index="Loantitle" width="8%">标题</th>
                                        <th w_index="LoanPurpose" width="8%">借款用途</th>
                                        <th w_index="Treetoptype" width="8%">类型</th>
                                        <th w_index="LoanMoney" width="12%">金额(元)</th>
                                        <th w_index="Rate" width="12%">年利率/%</th>
                                        <th w_index="LoanDeadlineName" width="12%">期限</th>
                                        <th w_index="CaoZuo" w_render="crearViewButton" width="12%">操作</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tab-pane" id="FollowUser" style="margin-left:10px;margin-top:30px;">
                            <table id="tabFollowUser">
                                <thead>
                                    <tr>
                                        <th w_index="FollowID" w_hidden="true" width="10%">关注ID</th>
                                        <th w_index="UserID" w_hidden="true" width="10%">用户ID</th>
                                        <th w_index="UserName" width="12%">用户名</th>
                                        <th w_index="Sex" width="12%">性别</th>
                                        <th w_index="NativePlace" width="12%">籍贯</th>
                                        <th w_index="StartTime" width="12%">出生日期</th>
                                        <th w_index="MonthIncome" width="12%">月收入</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- 右侧主体内容-E -->
            </div>
        </div>
    </div>
    <div class="ft_wrap">
        <div id="globalBottomBrowseRelated" data-recordTracker="1"></div>

        <div class="wrap ft_service_link clearfix">
            <div id="bottomHelpLinkId" class="ft_help_list clearfix" data-tpa="YHD_GLOBAl_FOOTER_HELP">
                <dl>
                    <dt>新手入门</dt>
                    <dd><a href="" target="_blank">购物流程</a></dd>
                    <dd><a href="" target="_blank">会员制度</a></dd>
                    <dd><a href="" target="_blank">订单查询</a></dd>

                </dl>
                <dl>
                    <dt>支付方式</dt>
                    <dd><a href="" target="_blank">货到付款</a></dd>
                    <dd><a href="" target="_blank">网上支付</a></dd>
                    <dd><a href="" target="_blank">银行转账</a></dd>
                </dl>
                <dl>
                    <dt>配送服务</dt>
                    <dd><a href="" target="_blank">配送进度查询</a></dd>
                    <dd><a href="" target="_blank">商品验货与签收</a></dd>
                    <dd><a href="" target="_blank">发票制度</a></dd>
                </dl>
                <dl>
                    <dt>售后保障</dt>
                    <dd><a href="" target="_blank">退换货政策</a></dd>
                    <dd><a href="" target="_blank">联系客服</a></dd>
                    <dd><a href="" target="_blank">发票制度</a></dd>
                </dl>
            </div>
            <!--footer 二维码 begin -->
            <div class="ft_code_wrap clearfix" data-tpa="YHD_GLOBAl_HEADER_MOBILE" id="footerQRcode">
                <div class="ft_mobile_code clearfix">
                    <p>APP更优惠</p>
                    <img src="~/Content/myaccount/images/qryhd.png" alt="APP更优惠二维码" />
                </div>
                <div class="ft_mobile_code clearfix">
                    <p>加微信查订单</p>
                    <img src="~/Content/myaccount/images/qryhd.png" alt="加微信查订单二维码" />
                </div>
            </div>
        </div>
    </div>



    <script src="/Content/ShouYe/jquery-1.8.2.min.js"></script>
    <script src="/Content/ShouYe/diyou.js"></script>
    <script src="/Content/ShouYe/base.js"></script>

    <script src="~/Content/my1/jquery.min.js"></script>
    <script src="~/Content/my1/leftmenu.js"></script>
    <script src="~/Content/my1/order_list.js"></script>
    <script src="~/Content/my1/synccookiepc.js"></script>

    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script src="~/Content/layer/layer.js"></script>@*对话框*@
    <script type="text/javascript">
        $(document).ready(function () {
            $.post("/Main/sesssinoselect", function (data) {
                if (data == "success") {
                    $("div").remove("#yuanlaiID");
                }
                else {
                    $("div").remove("#userviweID");
                }
            });
        });
        var tabFollowLoan;
        var tabFollowUser;

        $(document).ready(function () {

            //绑定tab
            tabFollowLoan = $.fn.bsgrid.init('tabFollowLoan', {
                url: '/Personal/Personal/SelectFollowLoan',
                autoLoad: true,
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                rowSelectedColor: true,//是否显示选中行背景色
                pageSize: 10,//默认页面大小
                pageSizeSelect: true,//是否选择分页页数下拉框
                pagingLittleToolbar: true,//精简的图标按钮分页工具条
                pagingToolbarAlign: "left",//分页工具条的显示位置
            });

            //绑定流转标tab
            tabFollowUser = $.fn.bsgrid.init('tabFollowUser', {
                url: '/Personal/Personal/SelectFollowuser',
                autoLoad: true,
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                rowSelectedColor: true,//是否显示选中行背景色
                pageSize: 10,//默认页面大小
                pageSizeSelect: true,//是否选择分页页数下拉框
                pagingLittleToolbar: true,//精简的图标按钮分页工具条
                pagingToolbarAlign: "left",//分页工具条的显示位置
            });
        });
        function crearViewButton(record, rowIndex, colIndex, options) {
            return '<button type="button" class="btn btn-warning btn-sm" onclick="openViewNotice(' + record.FollowID + ')">取消关注</button>';
        }

        function openViewNotice(followid) {
            layer.confirm("确定取消关注", {
                icon: 3,
                btn: ['确定', '取消']
            }, function (layerindex) {
                layer.close(layerindex);
                $.post("/Personal/Personal/Deletefollowloan", { followid: followid }, function (data) {
                    if (data == "success") {
                        layer.alert("取消成功", { icon: 1, title: "提示" }, { icon: 1, title: '提示' }, function (layerIndex) {
                            layer.close(layerIndex);
                            window.location.href = "/Main/FollowIndex";
                        });
                    } else {
                        layer.alert("取消失败", { icon: 1, title: "提示" });
                    }
                });
            });
        }
    </script>
</body>
</html>

