
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>帝友P2P借贷系统</title>
    <link href="/Content/ShouYe/iconfont.css" rel="stylesheet" />
    <link href="/Content/ShouYe/public.css" rel="stylesheet" />
    <link href="/Content/ShouYe/style.css" rel="stylesheet" />
    <link href="/Content/ShouYe/index.css" rel="stylesheet" />
    <link href="/Content/ShouYe/user.css" rel="stylesheet" />
    <link href="/Content/ShouYe/mall.css" rel="stylesheet" />

    <link href="~/Content/my1/global_site_base.css" rel="stylesheet" type="text/css" />
    @*<link href="//img.yihaodianimg.com/myyhd/global/css/global_site_base.css?0" rel="stylesheet" type="text/css" />*@
    @*<link href="//img.yihaodianimg.com/myyhd/member/css/order_list.css?0" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/my1/order_list.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/my1/leftmenu.css" rel="stylesheet" />

    <link href="~/content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="header">
        <div class="header_top">
            <div class="conbox fn_cle">
                <div class="contact fn_left">
                    <i class="telico"></i>
                    <span class="tel">服务热线：<em>400-836-3969 </em></span>                				<a href="http://www.diyou.cc/app/index.html" target="_blank">手机端下载</a>
                </div>

                <div class="top_rig fn_rig" id="yuanlaiID">
                    <a href="/Main/ZhuCe" class="bor_none reg" id="zhuceID">免费注册</a>
                    <a href="/Main/Login" class="login" id="Login">立即登录</a>
                    <a href="" class="helpico">帮助中心</a>
                    <a href="/Main/CounterIndex">利息计算器</a>
                </div>

                <div class="top_rig fn_rig" id="userviweID">
                    <label id="userid" style="font-size:14px;">欢迎你：</label><label id="UserName" style="color:#e4b022;font-size:15px;font-weight:700;">@ViewBag.User</label><span>&nbsp;</span>
                    <a href="" class="helpico">帮助中心</a>
                    <a href="/Main/CounterIndex">利息计算器</a>
                </div>
            </div>
        </div>
        <div class="header_cont conbox fn_cle">
            <h1 class="fn_left">
                <a href="">
                    <img src="~/Content/ShouYe/0_admin_upload_1425018268932.png" alt="帝友P2P借贷系统V4.0演示站" />
                </a>
            </h1>
            <div class="navbar fn_left">

                <ul>
                    <li class="ui_nav_item ">
                        <a href="/Main/Index">首页</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="/Loan/Loan/BorrowIndex">我要借款</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="/Invest/Invest/InvestIndex">我要投资</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="/Personal/Personal/BaseIndex">我的账户</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="/Main/AboutOurIndex">关于我们</a>
                        <ul class="nav_dropdown">
                            <li class="arrow"><span></span></li>
                            <li><a href="/Main/CertificateIndex">证照资质</a></li>
                        </ul>

                    </li>
                    <li class="ui_nav_item ">
                        <a href="">新手帮助</a>
                        <ul class="nav_dropdown">
                            <li class="arrow"><span></span></li>
                            <li><a href="">网站公告</a></li>
                            <li><a href="">安全保障</a></li>
                            <li><a href="">工作原理</a></li>
                            <li><a href="">法律政策</a></li>
                            <li><a href="">资费说明</a></li>
                        </ul>

                    </li>

                </ul>
            </div>
            <div class="follow fn_rig">
                <a href="" target="_blank"><div class="follow_list follow_sina "></div></a>
                <div class="follow_list follow_wx">
                    <div class="wx_ewm">
                        <span class="arrow"></span>
                        <div class="arrow_img">
                            <img src="~/Content/ShouYe/0_admin_upload_1420791797782.jpg" height="73" width="73" />
                        </div>
                    </div>

                </div>
                <div class="follow_list follow_qq">
                    <div class="qq_info">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="layout_main" class="mpc_cont">
        <div class="wrap clearfix">
            <!-- sideNav -->
            <div class="mpc_cont_sideNav">
                <dl style="margin-bottom:-15px;">
                    <dt>
                        <i class="my_iconfont sidenav_icon"></i>
                        <span style="margin-left:-10px;font-size:20px;">我的交易</span>
                    </dt>
                    <dd style="margin-top:10px;">
                        <a href="/Personal/Personal/MyAccountIndex1">我的投标</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/LoanManageIndex">我的借款</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/GatheringIndex">我的收款</a>
                    </dd>
                </dl>
                <dl style="margin-bottom:-10px;">
                    <dt>
                        <i class="my_iconfont sidenav_icon"></i>
                        <span style="margin-left:-10px;font-size:20px;">基础资料</span>
                    </dt>
                    <dd style="margin-top:10px;">
                        <a href="/Personal/Personal/BaseIndex" class="llw">个人资料</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/PersonalIndex">填写资料</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/RegisterMember">注册会员</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/MemberDataIndex">会员资料</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/AttestationIndex">我的认证</a>
                    </dd>
                </dl>
                <dl style="margin-bottom:-10px;">
                    <dt>
                        <i class="my_iconfont sidenav_icon"></i>
                        <span style="margin-left:-10px;font-size:20px;">我的资产</span>
                    </dt>
                    <dd style="margin-top:10px;">
                        <a href="/Personal/Personal/AccountCentre">我的账户</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/LimitIndex">额度申请</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/CreditCardIndex">添加银行卡</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/CreditCardMessage">银行卡信息</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/RechargeIndex">充值和提现</a>
                    </dd>
                </dl>
                <dl style="margin-bottom:-10px;">
                    <dt>
                        <i class="my_iconfont sidenav_icon"></i>
                        <span style="margin-left:-10px;font-size:20px;">我的服务</span>
                    </dt>
                    <dd style="margin-top:10px;">
                        <a href="/Personal/Personal/FollowIndex">我的关注</a>
                    </dd>
                    <dd>
                        <a href="/Personal/Personal/SpreadIndex">我的推广</a>
                    </dd>
                </dl>
            </div>


            <div id="layout_main" class="mpc_cont_main layout_w1200">
                <!--宽屏class名为layout_w1200，窄屏请修改class为layout_w980_g18-->
                <!-- 左侧菜单导航 -->
                <!-- <div id="grid_4" class="grid_4"></div>-->
                <!-- 右侧主体内容-S -->
                <div class="row" style="width:1000px;height:500px;  margin-left:5px;">
                    <ul class="nav nav-tabs" style="border:1px solid #808080;">
                        <li class="active"><a href="#LimitApply" data-toggle="tab">额度申请</a></li>
                        <li><a href="#LimitRecord" data-toggle="tab">额度记录</a></li>
                    </ul>
                    <div class="tab-content" style="border:1px solid #808080;">
                        <div class="tab-pane active" id="LimitApply">
                            <form class="form-horizontal" id="Infor" method="post" style="margin-top:20px;">
                                <div class="form-group">
                                    <label class="control-label col-md-2">申请类型</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ApplyType" name="ApplyType"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">申请额度</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="ApplyLimit" name="ApplyLimit">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">申请用途</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ApplyPurpose" name="ApplyPurpose">
                                            <option>销售</option>
                                            <option>进货</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">详细说明</label>
                                    <div class="col-md-3">
                                        <textarea class="form-control" id="Remark" name="Remark"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-1"></label>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-primary" id="Submit" style="margin-left:100px;">确认提交</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="tab-pane" id="LimitRecord">
                            <div class="col-md-11 col-sm-11 col-xs-11">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group" style="margin-top:10px;">
                                        <label class="col-md-2 col-sm-2 control-label reset">借款用途</label>
                                        <div class="col-md-2 col-sm-2 reset">
                                            <input type="text" class="form-control" name="LoanPurpose" id="SLoanPurpose">
                                        </div>
                                        <label class="col-md-2 col-sm-2 control-label reset">申请类型</label>
                                        <div class="col-md-2 col-sm-2 reset">
                                            <select class="form-control" name="LimitType" id="SLimitType"></select>
                                        </div>
                                        <div class="col-md-1 col-sm-1">
                                            <button type="button" class="btn btn-primary" id="btnSelect" style="margin-left:40px;">查询</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <table id="tabLimitApply">
                                <thead>
                                    <tr>
                                        <th w_index="LimitApplicationID" w_hidden="true" width="10%">申请ID</th>
                                        <th w_index="LimitTypeID" w_hidden="true" width="10%">申请类型ID</th>
                                        <th w_index="StatusID" w_hidden="true" width="10%">状态ID</th>
                                        <th w_index="LimitType" width="12%">申请类型</th>
                                        <th w_index="ApplicationMoney" width="12%">申请金额</th>
                                        <th w_index="LoanPurpose" width="12%">借款用途</th>
                                        <th w_index="StartTime" width="12%">申请时间</th>
                                        <th w_index="ApplicationRemark" width="12%">备注说明</th>
                                        <th w_index="StatusName" width="10%">审核状态</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- 右侧主体内容-E -->
            </div>
        </div>
    </div>
    <div class="ft_wrap">
        <div id="globalBottomBrowseRelated" data-recordTracker="1"></div>

        <div class="wrap ft_service_link clearfix">
            <div id="bottomHelpLinkId" class="ft_help_list clearfix" data-tpa="YHD_GLOBAl_FOOTER_HELP">
                <dl>
                    <dt>新手入门</dt>
                    <dd><a href="" target="_blank">购物流程</a></dd>
                    <dd><a href="" target="_blank">会员制度</a></dd>
                    <dd><a href="" target="_blank">订单查询</a></dd>

                </dl>
                <dl>
                    <dt>支付方式</dt>
                    <dd><a href="" target="_blank">货到付款</a></dd>
                    <dd><a href="" target="_blank">网上支付</a></dd>
                    <dd><a href="" target="_blank">银行转账</a></dd>
                </dl>
                <dl>
                    <dt>配送服务</dt>
                    <dd><a href="" target="_blank">配送进度查询</a></dd>
                    <dd><a href="" target="_blank">商品验货与签收</a></dd>
                    <dd><a href="" target="_blank">发票制度</a></dd>
                </dl>
                <dl>
                    <dt>售后保障</dt>
                    <dd><a href="" target="_blank">退换货政策</a></dd>
                    <dd><a href="" target="_blank">联系客服</a></dd>
                    <dd><a href="" target="_blank">发票制度</a></dd>
                </dl>
            </div>
            <!--footer 二维码 begin -->
            <div class="ft_code_wrap clearfix" data-tpa="YHD_GLOBAl_HEADER_MOBILE" id="footerQRcode">
                <div class="ft_mobile_code clearfix">
                    <p>APP更优惠</p>
                    <img src="~/Content/myaccount/images/qryhd.png" alt="APP更优惠二维码" />
                </div>
                <div class="ft_mobile_code clearfix">
                    <p>加微信查订单</p>
                    <img src="~/Content/myaccount/images/qryhd.png" alt="加微信查订单二维码" />
                </div>
            </div>
        </div>
    </div>



    <script src="/Content/ShouYe/jquery-1.8.2.min.js"></script>
    <script src="/Content/ShouYe/diyou.js"></script>
    <script src="/Content/ShouYe/base.js"></script>

    <script src="~/Content/my1/jquery.min.js"></script>
    <script src="~/Content/my1/leftmenu.js"></script>
    <script src="~/Content/my1/order_list.js"></script>
    <script src="~/Content/my1/synccookiepc.js"></script>

    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script src="~/Content/layer/layer.js"></script>@*对话框*@
    <script type="text/javascript">
        $(document).ready(function () {
            $.post("/Main/sesssinoselect", function (data) {
                if (data == "success") {
                    $("div").remove("#yuanlaiID");
                }
                else {
                    $("div").remove("#userviweID");
                }
            });
        });
        var tabLimitApply
        $.getJSON("/Personal/Personal/SelectLimitType", function (data) {
            $.each(data, function (i) {
                $("<option></option>").val(data[i].id).text(data[i].name).appendTo("#ApplyType");
            });
        });
        //申请类型下拉框
        $(document).ready(function () {
            $.post("/Personal/Personal/SelectApplyType", function (data) {
                selectLoadData("SLimitType",data);
            });
            //绑定tab
            tabLimitApply = $.fn.bsgrid.init('tabLimitApply', {
                url: '/Personal/Personal/SelectLimitRecord',
                autoLoad: true,
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                rowSelectedColor: true,//是否显示选中行背景色
                pageSize: 10,//默认页面大小
                pageSizeSelect: true,//是否选择分页页数下拉框
                pagingLittleToolbar: true,//精简的图标按钮分页工具条
                pagingToolbarAlign: "left",//分页工具条的显示位置
            });
            tabLimitApplySearch();
        });
        //$("#ApplyLimit").change(function () {
        //    var ApplyLimit = $("#ApplyLimit").val();
        //    if (ApplyLimit > 20000)
        //    {
        //        layer.alert('申请额度不能大于20000!', { icon:0, title: '提示' });
        //        $("#ApplyLimit").val("");
        //    }
        //});
        //新增申请
        $("#Submit").click(function () {
            var fordate = $("#Infor").serializeArray();
            $.post("/Personal/Personal/InsertLimit", fordate, function (data) {
                if (data == "success") {
                    layer.alert("申请成功!等待审核", { icon: 1, title: '提示' }, function (layerIndex) {
                        layer.close(layerIndex);
                        location.reload();
                    });
                }
                else if (data == "success1") {
                    layer.alert("申请成功!等待审核", { icon: 1, title: '提示' }, function (layerIndex) {
                        layer.close(layerIndex);
                        location.reload();
                    });
                } else if (data == "success2") {
                    layer.alert("申请成功!等待审核", { icon: 1, title: '提示' }, function (layerIndex) {
                        layer.close(layerIndex);
                        location.reload();
                    });
                } else if (data == "success3") {
                    layer.alert("申请成功!等待审核", { icon: 1, title: '提示' }, function (layerIndex) {
                        layer.close(layerIndex);
                        location.reload();
                    });
                } else if (data == "success4") {
                    layer.alert("申请成功!等待审核", { icon: 1, title: '提示' }, function (layerIndex) {
                        layer.close(layerIndex);
                        location.reload();
                    });
                }
                else if (data == "NoIntegral") {
                    layer.alert("信用积分没有达到额度申请,请完善个人信息", { icon: 0, title: '提示' }, function (layerIndex) {
                        layer.close(layerIndex);
                        $("#ApplyLimit").val("");
                    });
                }
                else if (data == "70Money") {
                    layer.alert("信用积分没有达到大于5000元的额度申请", { icon: 0, title: '提示' }, function (layerIndex) {
                        layer.close(layerIndex);
                        $("#ApplyLimit").val("");
                    });
                } else if (data == "80Money") {
                    layer.alert("信用积分没有达到大于2万元的额度申请", { icon: 0, title: '提示' }, function (layerIndex) {
                        layer.close(layerIndex);
                        $("#ApplyLimit").val("");
                    });
                } else if (data == "90Money") {
                    layer.alert("信用积分没有达到大于5万元的额度申请", { icon: 0, title: '提示' }, function (layerIndex) {
                        layer.close(layerIndex);
                        $("#ApplyLimit").val("");
                    });
                } else if (data == "100Money") {
                    layer.alert("信用积分没有达到大于10万元的额度申请", { icon: 0, title: '提示' }, function (layerIndex) {
                        layer.close(layerIndex);
                        $("#ApplyLimit").val("");
                    });
                } else if (data == "highMoney") {
                    layer.alert("信用积分没有达到大于20万元的额度申请", { icon: 0, title: '提示' }, function (layerIndex) {
                        layer.close(layerIndex);
                        $("#ApplyLimit").val("");
                    });
                }
                else if (data == "fail") {
                    layer.alert("申请失败", { icon: 2, title: '提示' }, function (layerIndex) {
                        layer.close(layerIndex);
                        location.reload();
                    });
                }
            });
        });

        //多条件查询
        function tabLimitApplySearch() {
            var loanPurpose = $("#SLoanPurpose").val();
            var limitTypeID = $("#SLimitType").val();
            if (limitTypeID == undefined || limitTypeID == "")
            {
                limitTypeID = 0;
            }
            tabLimitApply.search("loanPurpose=" + loanPurpose + "&limitTypeID=" + limitTypeID);
        }

        $("#btnSelect").click(function () {
            tabLimitApplySearch();
        });

    </script>

</body>
</html>

