
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>帝友P2P借贷系统</title>
    <link href="~/Content/ShouYe/iconfont.css" rel="stylesheet" />
    <link href="~/Content/ShouYe/public.css" rel="stylesheet" />
    <link href="~/Content/ShouYe/style.css" rel="stylesheet" />
    <link href="~/Content/ShouYe/index.css" rel="stylesheet" />
    <link href="~/Content/ShouYe/user.css" rel="stylesheet" />
    <link href="~/Content/ShouYe/mall.css" rel="stylesheet" />
    <script src="~/Content/ShouYe/jquery-1.8.2.min.js"></script>
    <script src="~/Content/ShouYe/diyou.js"></script>
    <script src="~/Content/ShouYe/base.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script>
var user_id = '';
var web_domain = "http://www.diyou.cc";
var js_web_name="关于我们 - 帝友P2P借贷系统V4.0演示站 - 中国最大最专业的借贷系统开发商";
    </script>
</head>
<body>
    <div class="header">
        <div class="header_top">
            <div class="conbox fn_cle">
                <div class="contact fn_left">
                    <i class="telico"></i>
                    <span class="tel">服务热线：<em>400-836-3969 </em></span>                				<a href="http://www.diyou.cc/app/index.html" target="_blank">手机端下载</a>
                </div>

                <div class="top_rig fn_rig" id="yuanlaiID">
                    <a href="/Main/ZhuCe" class="bor_none reg" id="zhuceID">免费注册</a>
                    <a href="/Main/Login" class="login" id="Login">立即登录</a>
                    <a href="" class="helpico">帮助中心</a>
                    <a href="/Main/CounterIndex">利息计算器</a>
                </div>

                <div class="top_rig fn_rig" id="userviweID">
                    <label id="userid" style="font-size:14px;">欢迎你：</label><label id="UserName" style="color:#e4b022;font-size:15px;font-weight:700;">@ViewBag.User</label><span>&nbsp;</span>
                    <a href="" class="helpico">帮助中心</a>
                    <a href="/Main/CounterIndex">利息计算器</a>
                </div>
            </div>
        </div>
        <div class="header_cont conbox fn_cle">
            <h1 class="fn_left"><a href=""><img src="~/Content/ShouYe/0_admin_upload_1425018268932.png" alt="帝友P2P借贷系统V4.0演示站"/>
                </a></h1>
            <div class="navbar fn_left">

                <ul>
                    <li class="ui_nav_item ">
                        <a href="/Main/Index">首页</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="/Loan/Loan/BorrowIndex">我要借款</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="#" id="myInvest">我要投资</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="#" id="MyAccountID">我的账户</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="/Main/AboutOurIndex">关于我们</a>
                        <ul class="nav_dropdown">
                            <li class="arrow"><span></span></li>
                            <li><a href="/Main/CertificateIndex">证照资质</a></li>
                        </ul>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="">新手帮助</a>
                        <ul class="nav_dropdown">
                            <li class="arrow"><span></span></li>
                            <li><a href="">网站公告</a></li>
                            <li><a href="">安全保障</a></li>
                            <li><a href="">工作原理</a></li>
                            <li><a href="">法律政策</a></li>
                            <li><a href="">资费说明</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="follow fn_rig">
                <a href="" target="_blank"><div class="follow_list follow_sina "></div></a>
                <div class="follow_list follow_wx">
                    <div class="wx_ewm">
                        <span class="arrow"></span>
                        <div class="arrow_img">
                            <img src="~/Content/ShouYe/0_admin_upload_1420791797782.jpg" height="73" width="73"/>
                        </div>
                    </div>
                </div>
                <div class="follow_list follow_qq">
                    <div class="qq_info">
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<script type="text/javascript">
diyou.use('index',function(i){i.judge_log()})
    </script>*@

    <div class="conbox article">
        <div class="art_menu">
            <h2>关于我们</h2>
            <ul>
                <li>
                    <a href="/Main/CertificateIndex"id="">证照资质</a>
                </li>
                <li>
                    <a href="">顾问团队</a>
                </li>
                <li>
                    <a href="">合作伙伴</a>
                </li>
                <li>
                    <a href="">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="art_detail">
            <div class="about_us">
                <h3>关于我们</h3>
                <div class="au_item">
                    <p align="left" style="text-align:justify;">
                        <span style="color:#000000;">&nbsp; &nbsp; 厦门帝网信息科技有限公司创立于</span><span style="color:#000000;">2010</span><span style="color:#000000;">年，坐落在美丽的鹭岛</span><span style="color:#000000;">——</span><span style="color:#000000;">厦门。公司长期专注于行业网站技术的研究和开发，以“帝友系统”为自主研发的核心产品，为不同行业客户提供各种产品服务和解决方案。目前公司旗下产品主要有：</span><span><span style="color:#000000;">帝友</span><span style="color:#000000;"><strong>P2P</strong></span><strong><span style="color:#000000;">网贷系统</span></strong></span><span style="color:#000000;">、</span><span><span style="color:#000000;">帝友</span><span style="color:#000000;">O2O</span><span style="color:#000000;">电子商务管理系统</span></span><span style="color:#000000;">、帝友</span><span style="color:#000000;">CMS</span><span style="color:#000000;">内容管理系统。</span>
                    </p>
                    <p align="left" style="text-align:justify;">
                        <span style="color:#000000;">&nbsp; &nbsp; 其中基于“</span><strong><span style="color:#000000;">帝友</span></strong><span style="color:#000000;">系统”开发的</span><span style="color:#000000;"><strong>P2P网</strong></span><strong><span style="color:#000000;">贷系统</span></strong><span style="color:#000000;">，从</span><span style="color:#000000;">09</span><span style="color:#000000;">年发布</span><span style="color:#000000;">V1.0</span><span style="color:#000000;">版本开始到现在的</span><span style="color:#000000;">V3.0</span><span style="color:#000000;">
                            版
                            本，系统经过了几次飞跃性的升级和改进，现已拥有全套完整的资金流数据分析计算和支撑工具，系统也更为简捷、灵活、成熟、开源，更符合行业发展的需求。目
                            前此系统已是P2P网贷这个新兴行业领域中的研发企业的领跑者，客户遍布珠江三角，江浙一带、湖南湖北、新疆等地，已有超过
                        </span><span style="color:#000000;">50</span><span style="color:#000000;">家站点正在使用，帮助客户在P2P网贷行业领先于其他竞争对手，赢得更多的机会。</span>
                    </p>
                    <h2 align="left" style="text-align:justify;">
                        <span></span><span style="color:#000000;">&nbsp;</span>
                    </h2>
                    <h2 align="left" style="text-align:justify;">
                        <span style="color:#000000;">帝网团队</span>
                    </h2>
                    <p align="left" style="text-align:justify;">
                        <br>
                    </p>
                    <p align="left" style="text-align:justify;">
                        <span style="color:#000000;">&nbsp; &nbsp; 随着市场需求的不断扩大，成功案例的不断增加，2010年，“</span><strong><span style="color:#000000;">帝友</span></strong><span style="color:#000000;">
                            系统”宣告“个人工作室”时代结
                            束，帝网信息科技有限公司正式成立，现在的帝网科技已跻身为国内最专业的p2p借贷系统开发中心，我们拥有一群年轻热情的从业者，一流的技术研发团队，配
                            备一套完善的售前和售后服务体制。我们坚持“优化服务，求实创新”的宗旨，重视每一个用户，致力于为行业客户提供更优质的产品体验、更专业的系统应用和更
                            贴心的售后服务。
                        </span>
                    </p>
                    <h2 style="text-align:justify;">
                        <span></span><span style="color:#000000;">&nbsp;</span>
                    </h2>
                    <h2 style="text-align:justify;">
                        <span style="color:#000000;">帝网服务</span>
                    </h2>
                    <p style="text-align:justify;">
                        <span style="color:#000000;">&nbsp;</span>
                    </p>
                    <p style="text-align:justify;">
                        <span style="color:#000000;">&nbsp;</span><strong><span style="color:#000000;">我们坚信：</span></strong><span style="color:#000000;">
                            辛勤的开拓必将带来丰硕的成果，作为一家朝气蓬勃的互联
                            网公司，我们没有悠久的历史，但我们始终坚持“以人为本，诚信经营”&nbsp;的经营理念，在市场竞争非常激烈的年代，坚信只有在“诚信”的基础上，我们才有下一
                            次更好的合作。公司以提高客户的企业形象及知名度，提高经济效益为已任，为客户提供快捷高效的技术支持及售后服务，更好满足客户需要。为客户的发展带来直
                            接的效益，全面提升客户的市场竞争力，帮助客户获得更大的市场空间和利润。我们深信通过公司全体员工的不懈努力，能够为客户提供更为卓越的产品和服务，从
                            而实现合作共赢！
                        </span>
                    </p>
                    <p style="text-align:justify;">
                        <span style="color:#000000;">&nbsp; &nbsp;&nbsp;</span><strong><span style="color:#000000;">我们的宗旨：</span></strong><span style="color:#000000;">服务尽善尽美，技术精益求精，没有最好，只有更好！</span>
                    </p>
                    <p style="text-align:justify;">
                        <span style="color:#000000;"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="cle"></div>
    </div>

    <!-- footer start -->
    <div class="footer">
        <div class="conbox footer_top fn_cle">
            <div class="fn_left f_top_left">
                <div class="f_map">
                    <ul class="fn_cle">
                        <li><a href="" target="_blank">关于我们</a></li>
                        <li><a href="" target="_blank">安全保障</a></li>
                        <li><a href="" target="_blank">媒体报道</a></li>
                        <li><a href="" target="_blank">帮助中心</a></li>
                        <li><a href="" target="_blank">联系我们</a></li>
                    </ul>
                </div>
                <div class="f_firends">
                    <ul>
                        <li>友情链接：</li>
                        <li><a href="" target="_blank">帝友官网</a></li>
                        <li><em>|</em></li>
                        <li><a href="" target="_blank">网贷天眼</a></li>
                        <li><em>|</em></li>
                        <li><a href="" target="_blank">禹州启惠</a></li>
                        <li><em>|</em></li>
                        <li><a href="http:" target="_blank">汇付天下</a></li>
                        <li><em>|</em></li>
                    </ul>
                </div>
            </div>
            <div class="fn_rig f_top_rig">
                <h3>合作伙伴</h3>
                <ul class="parther fn_cle">
                    <li><a href="" class="huifu" target="_blank"><img src="~/Content/ShouYe/0_admin_upload_1407294921608.jpg" title="帝友系统" width="100" height="60"/></a></li>
                    <li><a href="" class="huifu" target="_blank">
                            <img src="~/Content/ShouYe/1_admin_upload_1425105669802.png" title="测试合作伙伴" width="100" height="60"/>
                        </a></li>
                </ul>
            </div>
        </div>
        <div class="footer_bot">
            <div class="conbox fn_cle">
                <div class="verification fn_left">
                    <a href="" title="诚信网站认证" target="_blank" class="credit"></a><a href="" title="诺顿安全认证" target="_blank" class="norton"></a>				<a href="" title="公安网警平台" target="_blank" class="police"></a>				<a href="" title="工商网监" target="_blank" class="gongshang"></a>
                </div>
                <div class="fn_rig copyright">Copyright@2012-2014 闽ICP备12013734号-24 厦门帝网信息科技有限公司旗下 帝友系统</div>
                <div class="fn_rig">
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->
    <!-- 右侧联系我们 -->
    <a id="ibangkf" href="http://www.ibangkf.com">在线客服</a>
    <script type="text/javascript" src="http://c.ibangkf.com/i/c-youyou88.js"></script>

    <div class="diyoumask"></div>
    <!-- 右侧联系我们 -->
    <!-- 返回顶部 -->
    <div class="back_right_box">
        <a href="#" id="gotobtn" class="t_b_bor" title="返回顶部" style="display: block;"></a>
    </div>
    <!-- 返回顶部 -->
   <script type="text/javascript">
       $(document).ready(function () {
           $.post("/Main/sesssinoselect", function (data) {
               if (data == "success") {
                   $("div").remove("#yuanlaiID");
               }
               else {
                   $("div").remove("#userviweID");
               }
           });
       });
       //我的账户
       $("#MyAccountID").click(function () {
           $.post("/Main/sesssinoselect", function (data) {
               if (data == "success") {
                   window.location.href = "/Personal/Personal/BaseIndex";
               }
               else {
                   layer.confirm("请先登录？", {
                       icon: 3,
                       btn: ['确定', '取消']
                       //按钮
                   }, function (layerIndex) {
                       var layerIndex = layer.load(0);//显示 加载层
                       window.location.href = "/Main/Login";
                   });
               }
           });
       });
       //我的投资
       $("#myInvest").click(function () {
           $.post("/Main/sesssinoselect", function (data) {
               if (data == "success") {
                   window.location.href = "/Invest/Invest/InvestIndex";
               }
               else {
                   layer.confirm("请先登录？", {
                       icon: 3,
                       btn: ['确定', '取消']
                       //按钮
                   }, function (layerIndex) {
                       var layerIndex = layer.load(0);//显示 加载层
                       window.location.href = "/Main/Login";
                   });
               }
           });
       });
       
   </script>
</body>
</html>