
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>帝友P2P借贷系统</title>
    <link href="~/Content/ShouYe/iconfont.css" rel="stylesheet" />
    <link href="~/Content/ShouYe/public.css" rel="stylesheet" />
    <link href="~/Content/ShouYe/style.css" rel="stylesheet" />
    <link href="~/Content/ShouYe/index.css" rel="stylesheet" />
    <link href="~/Content/ShouYe/user.css" rel="stylesheet" />
    <link href="~/Content/ShouYe/mall.css" rel="stylesheet" />

    <script src="~/Content/ShouYe/jquery-1.8.2.min.js"></script>
    <script src="~/Content/ShouYe/diyou.js"></script>
    <script src="~/Content/ShouYe/base.js"></script>

    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script>
        var user_id = '';
        var web_domain = "http://www.diyou.cc";
        var js_web_name = "帝友P2P借贷系统V4.0演示站 - 中国最大最专业的借贷系统开发商";
    </script>

    <![endif]
</head>
<body>
    <div class="header">
        <div class="header_top">
            <div class="conbox fn_cle">
                <div class="contact fn_left">
                    <i class="telico"></i>
                    <span class="tel">服务热线：<em>400-836-3969 </em></span>                				<a href="http://www.diyou.cc/app/index.html" target="_blank">手机端下载</a>
                </div>

                <div class="top_rig fn_rig" id="yuanlaiID">
                    <a href="/Main/ZhuCe" class="bor_none reg" id="zhuceID">免费注册</a>
                    <a href="/Main/Login" class="login" id="Login">立即登录</a>
                    <a href="" class="helpico">帮助中心</a>
                    <a href="/Main/CounterIndex">利息计算器</a>
                </div>

                <div class="top_rig fn_rig" id="userviweID">
                    <label id="userid" style="font-size:14px;">欢迎你：</label><label id="UserName" style="color:#e4b022;font-size:15px;font-weight:700;">@ViewBag.User</label><span>&nbsp;</span>
                    <a href="" class="helpico">帮助中心</a>
                    <a href="/Main/CounterIndex">利息计算器</a>
                </div>
            </div>
        </div>
        <div class="header_cont conbox fn_cle">
            <h1 class="fn_left">
                <a href="">
                    <img src="~/Content/ShouYe/0_admin_upload_1425018268932.png" alt="帝友P2P借贷系统V4.0演示站" />
                </a>
            </h1>
            <div class="navbar fn_left">

                <ul>
                    <li class="ui_nav_item ">
                        <a href="/Main/Index">首页</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="/Loan/Loan/BorrowIndex">我要借款</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="#" id="myInvest">我要投资</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="#" id="MyAccountID">我的账户</a>
                    </li>
                    <li class="ui_nav_item ">
                        <a href="/Main/AboutOurIndex">关于我们</a>
                        <ul class="nav_dropdown">
                            <li class="arrow"><span></span></li>
                            <li><a href="/Main/CertificateIndex">证照资质</a></li>
                        </ul>

                    </li>
                    <li class="ui_nav_item ">
                        <a href="">新手帮助</a>
                        <ul class="nav_dropdown">
                            <li class="arrow"><span></span></li>
                            <li><a href="">网站公告</a></li>
                            <li><a href="">安全保障</a></li>
                            <li><a href="">工作原理</a></li>
                            <li><a href="">法律政策</a></li>
                            <li><a href="">资费说明</a></li>
                        </ul>

                    </li>

                </ul>
            </div>
            <div class="follow fn_rig">
                <a href="" target="_blank"><div class="follow_list follow_sina "></div></a>
                <div class="follow_list follow_wx">
                    <div class="wx_ewm">
                        <span class="arrow"></span>
                        <div class="arrow_img">
                            <img src="~/Content/ShouYe/0_admin_upload_1420791797782.jpg" height="73" width="73" />
                        </div>
                    </div>

                </div>
                <div class="follow_list follow_qq">
                    <div class="qq_info">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="conbox">
        <div class="borrow">
            <h2>我要借款-借款标介绍</h2>
            <ul>

                <li class="moouse">
                    <h3 class="credit">信用标</h3>
                    <p>通过网站的资信审查获得信用额度</p>
                    <dl>
                        <dd><span><font>·</font>贷款额度：</span><em>2000-200000</em></dd>
                        <dd><span><font>·</font>贷款利率：</span><em>5.00%-24.00%</em></dd>
                        <dd><span><font>·</font>借款期限：</span><em>2-24个月</em></dd>
                        <dd><span><font>·</font>还款方式：</span><em class="repay_type">等额本息&nbsp;|&nbsp;到期还本还息&nbsp;|&nbsp;按月付息&nbsp;|&nbsp;先息后本</em></dd>
                        <dd>
                            <span></span>
                            <a href="#" id="CreditID" data-type="credit" data-amount='0' class="borrow_now">
                                立即借款
                            </a>

                        </dd>
                    </dl>
                </li>
                <li class="moouse">
                    <h3 class="worth">净值标</h3>
                    <p>净资产大于借款金额根据一定的公式获得的净值额度。</p>
                    <dl>
                        <dd><span><font>·</font>贷款额度：</span><em>2000-200000</em></dd>
                        <dd><span><font>·</font>贷款利率：</span><em>8.00%-30.00%</em></dd>
                        <dd><span><font>·</font>借款期限：</span><em>1-24个月</em></dd>
                        <dd><span><font>·</font>还款方式：</span><em class="repay_type">等额本息&nbsp;|&nbsp;到期还本还息&nbsp;|&nbsp;按月付息&nbsp;|&nbsp;先息后本</em></dd>
                        <dd>
                            <span></span>
                            <a href="#" id="WorthID" data-type="worth" data-amount='0' class="borrow_now">
                                立即借款
                            </a>

                        </dd>
                    </dl>
                </li>

                <li class="moouse">
                    <h3 class="day">天标</h3>
                    <p>快借标，通过网站的资信审查获得信用额度。</p>
                    <dl>
                        <dd><span><font>·</font>贷款额度：</span><em>1000-200000</em></dd>
                        <dd><span><font>·</font>贷款利率：</span><em>5.00%-24.00%</em></dd>
                        <dd><span><font>·</font>借款期限：</span><em>1-30天</em></dd>
                        <dd><span><font>·</font>还款方式：</span><em class="repay_type">按天计息到期还本息</em></dd>
                        <dd>
                            <span></span>
                            <a href="#" id="DayID" data-type="day" data-amount='0' class="borrow_now">
                                立即借款
                            </a>

                        </dd>
                    </dl>
                </li>

                <li class="moouse">
                    <h3 class="vouch">担保标</h3>
                    <p>网站做为第三方担保，通过网站的资信审查获得担保额度。</p>
                    <dl>
                        <dd><span><font>·</font>贷款额度：</span><em>1000-200000</em></dd>
                        <dd><span><font>·</font>贷款利率：</span><em>8.00%-24.00%</em></dd>
                        <dd><span><font>·</font>借款期限：</span><em>1-12个月</em></dd>
                        <dd><span><font>·</font>还款方式：</span><em class="repay_type">等额本息&nbsp;|&nbsp;到期还本还息&nbsp;|&nbsp;先息后本</em></dd>
                        <dd>
                            <span></span>
                            <a href="#" id="WarrantID" data-type="vouch" data-amount='0' class="borrow_now">
                                立即借款
                            </a>

                        </dd>
                    </dl>
                </li>

                <li class="moouse">
                    <h3 class="pawn">抵押标</h3>
                    <p>通过网站的资信审查获得抵押额度。</p>
                    <dl>
                        <dd><span><font>·</font>贷款额度：</span><em>1000-500000</em></dd>
                        <dd><span><font>·</font>贷款利率：</span><em>8.00%-24.00%</em></dd>
                        <dd><span><font>·</font>借款期限：</span><em>1-24个月</em></dd>
                        <dd><span><font>·</font>还款方式：</span><em class="repay_type">到期还本还息&nbsp;|&nbsp;按月付息&nbsp;|&nbsp;先息后本</em></dd>
                        <dd>
                            <span></span>
                            <a href="#" id="MortgageID" data-type="pawn" data-amount='0' class="borrow_now">
                                立即借款
                            </a>

                        </dd>
                    </dl>
                </li>

                <li class="moouse">
                    <h3 class="second">秒标</h3>
                    <p>秒借秒还</p>
                    <dl>
                        <dd><span><font>·</font>贷款额度：</span><em>1000-200000</em></dd>
                        <dd><span><font>·</font>贷款利率：</span><em>1.00%-12.00%</em></dd>
                        <dd><span><font>·</font>借款期限：</span><em>1-1个月</em></dd>
                        <dd><span><font>·</font>还款方式：</span><em class="repay_type">到期还本还息</em></dd>
                        <dd>
                            <span></span>
                            <a href="#" id="SecondID" data-type="second" data-amount='0' class="borrow_now">
                                立即借款
                            </a>

                        </dd>
                    </dl>
                </li>

                <li class="moouse">
                    <h3 class="roam">流转标</h3>
                    <p>通过网站的资信审查获得流转额度。</p>
                    <dl>
                        <dd><span><font>·</font>贷款额度：</span><em>1000-1000000</em></dd>
                        <dd><span><font>·</font>贷款利率：</span><em>7.00%-30.00%</em></dd>
                        <dd><span><font>·</font>借款期限：</span><em>1-12个月</em></dd>
                        <dd><span><font>·</font>还款方式：</span><em class="repay_type">到期还本还息</em></dd>
                        <dd>
                            <span></span>
                            <a href="#" id="RoamID" data-type="roam" data-amount='0' class="borrow_now">
                                立即借款
                            </a>

                        </dd>
                    </dl>
                </li>
                @*<div class="cle"></div>*@
            </ul>
        </div>
    </div>


    @*<script type="text/javascript">
         diyou.use('borrow', function(b) {
             b.check_borrow()
         });
        diyou.use('users',function(u){u.check_block()});
         diyou.use('borrow', function (d) { d.company_loan('my_loan_form')});
         </script>*@

    <!-- footer start -->
    <div class="footer">
        <div class="conbox footer_top fn_cle">
            <div class="fn_left f_top_left">
                <div class="f_map">
                    <ul class="fn_cle">
                        <li><a href="" target="_blank">关于我们</a></li>
                        <li><a href="" target="_blank">安全保障</a></li>
                        <li><a href="" target="_blank">媒体报道</a></li>
                        <li><a href="" target="_blank">帮助中心</a></li>
                        <li><a href="" target="_blank">联系我们</a></li>
                    </ul>
                </div>
                <div class="f_firends">
                    <ul>
                        <li>友情链接：</li>
                        <li><a href="" target="_blank">帝友官网</a></li>
                        <li><em>|</em></li>
                        <li><a href="" target="_blank">网贷天眼</a></li>
                        <li><em>|</em></li>
                        <li><a href="" target="_blank">禹州启惠</a></li>
                        <li><em>|</em></li>
                        <li><a href="http://" target="_blank">汇付天下</a></li>
                        <li><em>|</em></li>
                    </ul>
                </div>
            </div>
            <div class="fn_rig f_top_rig">
                <h3>合作伙伴</h3>
                <ul class="parther fn_cle">
                    <li><a href="" class="huifu" target="_blank"><img src="~/Content/ShouYe/0_admin_upload_1407294921608.jpg" title="帝友系统" width="100" height="60" /></a></li>
                    <li><a href="" class="huifu" target="_blank"><img src="~/Content/ShouYe/1_admin_upload_1425105669802.png" title="测试合作伙伴" width="100" height="60" /></a></li>
                </ul>
            </div>
        </div>
        <div class="footer_bot">
            <div class="conbox fn_cle">
                <div class="verification fn_left">
                    <a href="" title="诚信网站认证" target="_blank" class="credit"></a>				<a href="" title="诺顿安全认证" target="_blank" class="norton"></a>				<a href="http://www.diyou.cc" title="公安网警平台" target="_blank" class="police"></a>				<a href="http://www.diyou.cc" title="工商网监" target="_blank" class="gongshang"></a>
                </div>
                <div class="fn_rig copyright">Copyright@2012-2014 闽ICP备12013734号-24 厦门帝网信息科技有限公司旗下 帝友系统</div>
                <div class="fn_rig">
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->
    <!-- 右侧联系我们 -->
    <a id="ibangkf" href="http://www.ibangkf.com">在线客服</a>
    <script type="text/javascript" src="http://c.ibangkf.com/i/c-youyou88.js"></script>

    <div class="diyoumask"></div>
    <!-- 右侧联系我们 -->
    <!-- 返回顶部 -->
    <div class="back_right_box">
        <a href="#" id="gotobtn" class="t_b_bor" title="返回顶部" style="display: inline;"></a>
    </div>
    <!-- 返回顶部 -->
    <script type="text/javascript">
        $(document).ready(function () {
            $.post("/Main/sesssinoselect", function (data) {
                if (data == "success") {
                    $("div").remove("#yuanlaiID");
                }
                else {
                    $("div").remove("#userviweID");
                }
            });
        });
        
        //我的账户
        $("#MyAccountID").click(function () {
            $.post("/Main/sesssinoselect", function (data) {
                if (data == "success") {
                    window.location.href = "/Personal/Personal/BaseIndex";
                }
                else {
                    layer.confirm("请先登录？", {
                        icon: 3,
                        btn: ['确定', '取消']
                        //按钮
                    }, function (layerIndex) {
                        var layerIndex = layer.load(0);//显示 加载层
                        window.location.href = "/Main/Login";
                    });
                }
            });
        });
        //我的投资
        $("#myInvest").click(function () {
            $.post("/Main/sesssinoselect", function (data) {
                if (data == "success") {
                    window.location.href = "/Invest/Invest/InvestIndex";
                }
                else {
                    layer.confirm("请先登录？", {
                        icon: 3,
                        btn: ['确定', '取消']
                        //按钮
                    }, function (layerIndex) {
                        var layerIndex = layer.load(0);//显示 加载层
                        window.location.href = "/Main/Login";
                    });
                }
            });
        });
        //信用标
        $("#CreditID").click(function () {
            $.post("/Main/sesssinoselect", function (data) {
                if (data == "success") {
                    $.post("/Main/JudgeUser", function (msg) {
                        if (msg == "GoLoan")
                        {
                            window.location.href = "/Loan/Loan/CreditIndex";
                        } else if (msg == "IDCardNoFail")
                        {
                            layer.alert('你还没有实名认证', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/AttestationIndex";
                            });
                        } else if (msg == "fail")
                        {
                            layer.alert('你还没有申请借款额度', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/LimitIndex";
                            });
                        } else if (msg == "Nowrite")
                        {
                            layer.alert('你还没填写资料，去完善资料吧', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/PersonalIndex";
                            });
                        }
                    });
                    
                }
                else {
                    layer.confirm("请先登录？", {
                        icon: 3,
                        btn: ['确定', '取消']
                        //按钮
                    }, function (layerIndex) {
                        var layerIndex = layer.load(0);//显示 加载层
                        window.location.href = "/Main/Login";
                    });
                }
            });
        });
        //净值标 WorthIndex
        $("#WorthID").click(function () {
            $.post("/Main/sesssinoselect", function (data) {
                if (data == "success") {
                    $.post("/Main/JudgeUser", function (msg) {
                        if (msg == "GoLoan") {
                            window.location.href = "/Loan/Loan/WorthIndex";
                        } else if (msg == "IDCardNoFail") {
                            layer.alert('你还没有实名认证', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/AttestationIndex";
                            });
                        } else if (msg == "fail") {
                            layer.alert('你还没有申请借款额度', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/LimitIndex";
                            });
                        } else if (msg == "Nowrite") {
                            layer.alert('你还没填写资料，去完善资料吧', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/PersonalIndex";
                            });
                        }
                    });

                }
                else {
                    layer.confirm("请先登录？", {
                        icon: 3,
                        btn: ['确定', '取消']
                        //按钮
                    }, function (layerIndex) {
                        var layerIndex = layer.load(0);//显示 加载层
                        window.location.href = "/Main/Login";
                    });
                }
            });
        });
        //天标 DayLoanIndex
        $("#DayID").click(function () {
            $.post("/Main/sesssinoselect", function (data) {
                if (data == "success") {
                    $.post("/Main/JudgeUser", function (msg) {
                        if (msg == "GoLoan") {
                            window.location.href = "/Loan/Loan/DayLoanIndex";
                        } else if (msg == "IDCardNoFail") {
                            layer.alert('你还没有实名认证', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/AttestationIndex";
                            });
                        } else if (msg == "fail") {
                            layer.alert('你还没有申请借款额度', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/LimitIndex";
                            });
                        } else if (msg == "Nowrite") {
                            layer.alert('你还没填写资料，去完善资料吧', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/PersonalIndex";
                            });
                        }
                    });

                }
                else {
                    layer.confirm("请先登录？", {
                        icon: 3,
                        btn: ['确定', '取消']
                        //按钮
                    }, function (layerIndex) {
                        var layerIndex = layer.load(0);//显示 加载层
                        window.location.href = "/Main/Login";
                    });
                }
            });
        });
        //担保标 WarrantIndex
        $("#WarrantID").click(function () {
            $.post("/Main/sesssinoselect", function (data) {
                if (data == "success") {
                    $.post("/Main/JudgeUser", function (msg) {
                        if (msg == "GoLoan") {
                            window.location.href = "/Loan/Loan/WarrantIndex";
                        } else if (msg == "IDCardNoFail") {
                            layer.alert('你还没有实名认证', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/AttestationIndex";
                            });
                        } else if (msg == "fail") {
                            layer.alert('你还没有申请借款额度', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/LimitIndex";
                            });
                        } else if (msg == "Nowrite") {
                            layer.alert('你还没填写资料，去完善资料吧', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/PersonalIndex";
                            });
                        }
                    });

                }
                else {
                    layer.confirm("请先登录？", {
                        icon: 3,
                        btn: ['确定', '取消']
                        //按钮
                    }, function (layerIndex) {
                        var layerIndex = layer.load(0);//显示 加载层
                        window.location.href = "/Main/Login";
                    });
                }
            });
        });
        //抵押标 MortgageIndex
        $("#MortgageID").click(function () {
            $.post("/Main/sesssinoselect", function (data) {
                if (data == "success") {
                    $.post("/Main/JudgeUser", function (msg) {
                        if (msg == "GoLoan") {
                            window.location.href = "/Loan/Loan/MortgageIndex";
                        } else if (msg == "IDCardNoFail") {
                            layer.alert('你还没有实名认证', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/AttestationIndex";
                            });
                        } else if (msg == "fail") {
                            layer.alert('你还没有申请借款额度', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/LimitIndex";
                            });
                        } else if (msg == "Nowrite") {
                            layer.alert('你还没填写资料，去完善资料吧', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/PersonalIndex";
                            });
                        }
                    });

                }
                else {
                    layer.confirm("请先登录？", {
                        icon: 3,
                        btn: ['确定', '取消']
                        //按钮
                    }, function (layerIndex) {
                        var layerIndex = layer.load(0);//显示 加载层
                        window.location.href = "/Main/Login";
                    });
                }
            });
        });
        //秒标 SecondIndex
        $("#SecondID").click(function () {
            $.post("/Main/sesssinoselect", function (data) {
                if (data == "success") {
                    $.post("/Main/JudgeUser", function (msg) {
                        if (msg == "GoLoan") {
                            window.location.href = "/Loan/Loan/SecondIndex";
                        } else if (msg == "IDCardNoFail") {
                            layer.alert('你还没有实名认证', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/AttestationIndex";
                            });
                        } else if (msg == "fail") {
                            layer.alert('你还没有申请借款额度', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/LimitIndex";
                            });
                        } else if (msg == "Nowrite") {
                            layer.alert('你还没填写资料，去完善资料吧', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/PersonalIndex";
                            });
                        }
                    });

                }
                else {
                    layer.confirm("请先登录？", {
                        icon: 3,
                        btn: ['确定', '取消']
                        //按钮
                    }, function (layerIndex) {
                        var layerIndex = layer.load(0);//显示 加载层
                        window.location.href = "/Main/Login";
                    });
                }
            });
        });
        //流转标 RoamIndex
        $("#RoamID").click(function () {
            $.post("/Main/sesssinoselect", function (data) {
                if (data == "success") {
                    $.post("/Main/JudgeUser", function (msg) {
                        if (msg == "GoLoan") {
                            window.location.href = "/Loan/Loan/RoamIndex";
                        } else if (msg == "IDCardNoFail") {
                            layer.alert('你还没有实名认证', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/AttestationIndex";
                            });
                        } else if (msg == "fail") {
                            layer.alert('你还没有申请借款额度', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/LimitIndex";
                            });
                        } else if (msg == "Nowrite") {
                            layer.alert('你还没填写资料，去完善资料吧', { icon: 3, title: '提示' }, function (layerIndex) {
                                layer.close(layerIndex);
                                window.location.href = "/Personal/Personal/PersonalIndex";
                            });
                        }
                    });

                }
                else {
                    layer.confirm("请先登录？", {
                        icon: 3,
                        btn: ['确定', '取消']
                        //按钮
                    }, function (layerIndex) {
                        var layerIndex = layer.load(0);//显示 加载层
                        window.location.href = "/Main/Login";
                    });
                }
            });
        });

    </script>


</body>
</html>
