
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_sky_blue.min.css" rel="stylesheet" />
    <title>tianjiarecharge</title>
    <style type="text/css">
        .container {
            width: 100%;
            padding: 20px 40px 0 35px;
            margin: 0;
        }

        .panel-heading span {
           font-size:15px;font-weight:700;
        }

        .form-horizontal label {
            font-weight: normal;
        }

        .reset {
            padding-left: 5px;
            padding-right: 5px;
        }

        .panel-body {
            padding-left: 0;
            background: #f4fcff;
        }

        span {
            font-size: 17px;
            font-weight: 700;
        }

        a, a:hover, a:active, a:visited, a:link {
            color: white;
            text-decoration: none;
        }

        td a {
            color: blue !important;
        }

        .h4 {
            margin: 0 0 4px 0;
        }

        th {
            font-weight: normal;
        }

        .h4, td, th {
            text-align: center;
        }

        .table tbody tr td {
            padding: 4px;
        }

            .table tbody tr td button {
                height: 24px;
                padding: 2px 12px;
            }

        .titleInfor {
            border: 1px ridge #e5dfdf;
            background: #f4fcff;
            width: 300px;
            height: 400px;
            font-size: 24px;
            float: left;
        }

        .Baseinfor {
            float: left;
            background: #f4fcff;
            width: 900px;
            height: 650px;
            margin-left: 15px;
        }

        .modal-body {
            background: #f4fcff;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <span class="col-md-2">添加充值</span>
                    </div>
                </div>
                <div class="panel-body" style="padding-left:15px;">
                    <form class="form-horizontal" id="insertnocittype">
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-5 control-label" for="formGroupInputLarge">用户名：</label>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <input class="form-control" type="text" id="UsernameID" name="UserName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-5 control-label" for="formGroupInputLarge">类型：</label>                           
                            <label class="col-sm-1 control-label">线下充值</label>                          
                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-5 control-label" for="formGroupInputSmall">充值金额：</label>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <input class="form-control" type="text" id="chongzhiMoney" name="RemitMoney">
                            </div>
                            <label class="control-label"style="color:#ff0000;">元</label>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-md-5 col-sm-5 control-label">备注：</label>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <input class="form-control" type="text" id="DescribeID" name="Describe">
                            </div>
                        </div>
                    </form>
                    <div class="form-group" id="btnSelectid">
                        <button class="btn btn-success col-md-offset-5" type="button" id="btnSelect"><span class="glyphicon glyphicon-yen"></span>确认充值</button>
                    </div>
                </div>             
            </div>
        </div>
    </div>

    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script src="~/Content/jss/customfunction.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnSelectid").hide();
            $.post("/LoginMain/MoKuaiQuanXianOpTypeSelect", function (Data) {
                for (var i = 0; i < Data.length; i++) {
                    if (Data[i].Name == "添加充值" && Data[i].Optype == "新增") {
                        $("#btnSelectid").show();
                      
                    }                 
                }
            });
        });
        $("#UsernameID").change(function () {
            var formDate = $("#insertnocittype").serializeArray(); 
            $.post("/Fundsmanagement/management/selectUseryesbyno", formDate, function (msg) {
                if (msg == "fail")
                {
                    layer.alert('对不起，没有查找到该用户！', { icon: 6, title: '提示' });
                    $("#UsernameID").val("");
                }
            });
        });
        $("#btnSelect").click(function () {
            if ($('#insertnocittype [name="UserName"]').val() != "" && $('#insertnocittype [name="RemitMoney"]').val() != "") {
                var formDate = $("#insertnocittype").serializeArray(); 
                $.post("/Fundsmanagement/management/insertchongzhimoney", formDate, function (msg) {
                if (msg == "success") {
                    layer.alert('充值成功', { icon: 6, title: '提示' });
                    $("#chongzhiMoney").val("");
                    $("#DescribeID").val("");
                }
                else if (msg == "exist") {
                    layer.alert('没有该用户！', { icon: 5, title: '提示' });
                    $("#UsernameID").val("");
                    $("#chongzhiMoney").val("");
                    $("#DescribeID").val("");
                }               
                else {

                    layer.alert('充值失败', { icon: 5, title: '提示' });
                }
            });
        }
        else {
                layer.alert('用户名和充值金额不能为空！', { icon: 2, title: '提示' });
        }

        });
        //充值金额限制
        $("#chongzhiMoney").change(function () {
            var feilv = parseFloat($("#chongzhiMoney").val());
            var reg = new RegExp(/^[0-9]*$/);
            var rg = reg.test(feilv);
            if (rg == false) {
                $("#chongzhiMoney").val("");
                layer.alert('充值金额输入有误！', { icon: 6, title: '提示' });
            }
        });
    </script>

</body>
</html>
