
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_sky_blue.min.css" rel="stylesheet" />

    <title>managertakenotes</title>
    <style type="text/css">
        .container {
            width: 100%;
            padding: 20px 40px 0 35px;
            margin: 0;
        }

        .panel-heading span {
            font-size: 18px;
        }

        .form-horizontal label {
            font-weight: normal;
        }

        .reset {
            padding-left: 5px;
            padding-right: 5px;
        }

        .panel-body {
            padding-left: 0;
            background: #f4fcff;
        }

        td a {
            color: blue !important;
        }

        th {
            font-weight: normal;
        }

        .h4, td, th {
            text-align: center;
        }

        .table tbody tr td {
            padding: 4px;
        }

            .table tbody tr td button {
                height: 24px;
                padding: 2px 12px;
            }

        .modal-body {
            background: #f4fcff;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-body" style="padding-left:15px;">
                    <div class="row setPadding" style="background:#ffffff;">
                        <label class="col-md-12">管理员记录</label>
                    </div>
                    <table id="wholewithdrawdeposit">
                        <tr>
                            <th w_num="total_line" width="5%">序号</th>
                            <th w_index="RecordID" w_hidden="true">ID</th>
                            <th w_index="UserName" width="10%">操作人</th>
                            <th w_index="BearFruit" width="10%">结果</th>
                            <th w_index="Content" width="30%">内容</th>
                            <th w_index="ReleaseTimeStr" width="20%">添加时间</th>
                            <th w_index="LoginIP" width="20%">登录IP</th>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script src="~/Content/jss/customfunction.js"></script>
    <script>
        var wholewithdrawdeposit;
        $(document).ready(function () {
           wholewithdrawdeposit = $.fn.bsgrid.init('wholewithdrawdeposit', {
               url: '/Systemmodulemanagement/Systemmodule/Selectmanager',
                autoLoad: true,//自动加载数据
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                rowSelectedColor: true,//是否显示选中行背景色
                pageSize: 10,//默认页面大小
                pageSizeSelect: true,//是否选择分页页数下拉框
                pagingLittleToolbar: true,//精简的图标按钮分页工具条
                pagingToolbarAlign: "left"//分页工具条的显示位置
            });
        });
    </script>
</body>
</html>
