
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_sky_blue.min.css" rel="stylesheet" />
    <title>spreadrecordxiew</title>
    <style type="text/css">
        .container {
            width: 100%;
            padding: 20px 40px 0 35px;
            margin: 0;
        }

        .panel-heading span {
             font-size:15px;font-weight:700;
        }

        .reset {
            padding-left: 5px;
            padding-right: 5px;
        }

        .panel-body {
            padding-left: 0;
            background: #f4fcff;
        }

      

        a, a:hover, a:active, a:visited, a:link {
            color: white;
            text-decoration: none;
        }

        td a {
            color: blue !important;
        }

        .h4 {
            margin: 0 0 4px 0;
        }

        th {
            font-weight: normal;
        }

        .h4, td, th {
            text-align: center;
        }

        .table tbody tr td {
            padding: 4px;
        }

            .table tbody tr td button {
                height: 24px;
                padding: 2px 12px;
            }

        .modal-body {
            background: #f4fcff;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <span class="col-md-2">推广记录</span>
                    </div>
                </div>
                <div class="panel-body" style="padding-left:15px;">
                    <div class="row" style="background-color:white;margin-bottom:20px;margin-left:10px;">
                        <span style="font-size:15px;font-weight:700;">推广记录</span>
                    </div>
                    <table id="tabRechargeall">
                        <tr>
                            <th w_num="total_line" width="5%">序号</th>
                            <th w_index="SpreadRecordID" w_hidden="true">ID</th>
                            <th w_index="SpreadUserName" w_align="left" width="6%">推广人</th>
                            <th w_index="SpreadCustomName" width="6%">推广客户</th>
                            <th w_index="SpreadTypeName" width="8%">推广类型</th>
                            <th w_index="FundType" width="6%">资金类型</th>
                            <th w_index="Scale" width="6%">提成比例</th>
                            <th w_index="SpreadAmount" width="8%">推广总额</th>
                            <th w_index="ReleaseTimeStr" width="8%">提交时间</th>
                            <th w_index="Remark" width="47%">备注</th>
                        </tr>
                    </table>

                </div>
            </div>

        </div>
    </div>

    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script src="~/Content/jss/customfunction.js"></script>
    <script>

        var tabRechargeall;
        $(document).ready(function () {
            tabRechargeall = $.fn.bsgrid.init('tabRechargeall', {
                url: '/PopularizeManage/Popular/SelectSpreadRecord',
                autoLoad: true,//自动加载数据
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                rowSelectedColor: true,//是否显示选中行背景色
                pageSize: 10,//默认页面大小
                pageSizeSelect: true,//是否选择分页页数下拉框
                pagingLittleToolbar: true,//精简的图标按钮分页工具条
                pagingToolbarAlign: "left"//分页工具条的显示位置

            });
        });

    </script>

</body>
</html>
